<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, maximum-scale=1">

	<!--fonts-->
	<link
		href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">

	<title>GM E&S</title>

	<script type="text/javascript" src="js/jquery.1.8.3.min.js"></script>
	<script type="text/javascript" src="js/wow.js"></script>
	<link rel="stylesheet" type="text/css" href="css/fullpage.css" />
	<link rel="stylesheet" type="text/css" href="css/examples.css" />
	<link href="css/animate.css" rel="stylesheet" type="text/css">
	<link rel="icon" type="image/png" sizes="16x16" href="img/gm-logo.png">
	<script type="text/javascript" src="js/text.js"></script>

	<script>
		new WOW().init();
	</script>
</head>

<body>
	<div class="headerContainer">
		<nav class="headerMenu">
			<div id="headerLogo"> <a href="#home"> <img src="img/gm-logo-full.png"></a> </div>
			<ul>
				<li id="aboutusNav"><a href="#aboutus" class="lang" key="menu-2"></a></li>
				<li id="serviceNav"><a href="#service" class="lang" key="menu-3"></a></li>
				<li id="clientsNav"><a href="#clients" class="lang" key="menu-4"></a></li>
				<li id="portalNav"><a href="#portal" class="lang" key="menu-5"></a></li>
				<li id="recruitNav"><a href="#recruit" class="lang" key="menu-6"></a></li>
				<li id="requestNav"><a href="#request" class="lang" key="menu-7"></a></li>
				<li id="labNav"><a href="#lab" class="lang" key="menu-8"></a></li>
				<li id="contactNav"><a href="#contact" class="lang" key="menu-9"></a></li>
				<li class="kren">
					<div class="kr">KR</div>
					<div>|</div>
					<div class="en">EN</div>
				</li>
			</ul>
			<div id="hamMenu">
				<div>&#9776;</div>
			</div>
		</nav>
	</div>

	<div id="headerMobile">
		<div class="closebtn">&times;</div>
		<ul>
			<li class="kren">
				<div class="kr">KR</div>
				<div>|</div>
				<div class="en">EN</div>
			</li>
			<li id="aboutusNav"><a href="#aboutus" class="lang" key="menu-2"></a></li>
			<li id="serviceNav"><a href="#service" class="lang" key="menu-3"></a></li>
			<li id="clientsNav"><a href="#clients" class="lang" key="menu-4"></a></li>
			<li id="portalNav"><a href="#portal" class="lang" key="menu-5"></a></li>
			<li id="recruitNav"><a href="#recruit" class="lang" key="menu-6"></a></li>
			<li id="requestNav"><a href="#request" class="lang" key="menu-7"></a></li>
			<li id="labNav"><a href="#lab" class="lang" key="menu-8"></a></li>
			<li id="contactNav"><a href="#contact" class="lang" key="menu-9"></a></li>
		</ul>
	</div>


	<div id="fullpage">
		<!--frontpage section-->
		<div class="section" id="section0">
			<div class="textContainer animated fadeIn wow delay-1s">
				<img src="img/gm-logo-full-white.png"></a>
			</div>
			<div class="scrollDown animated fadeInDown delay-1s">
				<div class="animated flash delay-2s">
					<img src="img/scrollDown.png">
					<p style="color: white; padding: 10px;">scroll down</p>
				</div>
			</div>
			<div class="videoContainer">
				<video id="introVideo" autoplay loop muted playsinline>
					<source src="img/video2.mp4" type="video/mp4">
				</video>
			</div>

		</div>

		<!--aboutus section-->
		<div class="section" id="section1">
			<div class="blank"></div>
			<nav class="sectionMenuContainer">
				<ul>
					<li class="lang" key="sectionMenu-aboutus-greetings" style="color: black;" id="aboutus-greetings">
					</li>
					<li class="lang" key="sectionMenu-aboutus-history" id="aboutus-history"></li>
				</ul>
			</nav>

			<div class="sectionContentContainer">
				<div class="aboutusGreetings">
					<p class="lang" key="aboutus-content"></p>
				</div>
				<div class="aboutusHistory">
					<table>
						<tr>
							<td style="width:100px;">2009년 11월</td>
							<td>&bull; ㈜지엠이앤에스 설립 (플랜트분야 설계업)</td>
						</tr>
						<tr>
							<td>2009년 12월</td>
							<td>&bull; 소방시설업 등록<br>
								&bull; 사업자등록증 변경 (소방 시설업 추가)</td>
						</tr>
						<tr>
							<td>2010년 3월</td>
							<td>&bull; 소방시설 설계분야 ISO9001/2008<br>
								&bull; 인증서 획득</td>
						</tr>
						<tr>
							<td>2010년 11월</td>
							<td>&bull; 소방시설업 등록</td>
						</tr>
						<tr>
							<td>2011년 4월</td>
							<td>&bull; 전문소방공사 감리업 등록</td>
						</tr>
						<tr>
							<td>2011년 11월</td>
							<td>&bull; 본사이전 (경기동 광명시 광명SK테크노 파크)</td>
						</tr>
						<tr>
							<td>2012년 12월</td>
							<td>&bull; Door Fan Test 사업개시</td>
						</tr>
						<tr>
							<td>2014년 12월</td>
							<td>&bull; 소방시설 관리업 등록</td>
						</tr>
						<tr>
							<td>2015년 4월</td>
							<td>&bull; 전문 소방시설 공사업 등록</td>
						</tr>
						<tr>
							<td>2016년 11월</td>
							<td>&bull; 청년 친화 강소기업 인증</td>
						</tr>
						<tr>
							<td>2017년 7월</td>
							<td>&bull; 제연설비 T.A.B. 사업개시</td>
						</tr>
						<tr>
							<td>2018년 1월</td>
							<td>&bull; 엔지니어링 사업자 신고 (소방 방재부분)</td>
						</tr>
						<tr>
							<td>2020년 3월</td>
							<td>&bull; 기업부설 연구소 설립</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<!--service section-->
		<div class="section" id="section2">
			<div class="blank"></div>
			<div class="sectionContentContainer-full">
				<div class="serviceSectionMenu">
					<ul>
						<li class="clickclick lang" key="service-1"></li>
						<li class="lang" key="service-2"></li>
						<li class="lang" key="service-3"></li>
						<li class="lang" key="service-4"></li>
						<li class="lang" key="service-5"></li>
						<li class="lang" key="service-6"></li>
					</ul>
				</div>
				<div class="serviceSectionContentContainer">
					<div class="movingMap">
						<img id="map-service-1" src="img/map-service-1.jpg">
						<img id="map-service-2" src="img/map-service-2.jpg">
						<img id="map-service-3" src="img/map-service-3.jpg">
						<img id="map-service-4" src="img/map-service-4.jpg">
						<img id="map-service-5" src="img/map-service-5.jpg">
						<img id="map-service-6" src="img/map-service-6.jpg">
					</div>

					<div class="content">
						<div class="serviceContent-1">
							<p class="lang" key="service-1-content"></p>
						</div>
						<div class="serviceContent-2">
							<p class="lang" key="service-2-content"></p>
						</div>
						<div class="content serviceContent-3">
							<p class="lang" key="service-3-content"></p>
						</div>
						<div class="content serviceContent-4">
							<p class="lang" key="service-4-content"></p>
						</div>
						<div class="content serviceContent-5">
							<p class="lang" key="service-5-content"></p>
						</div>
						<div class="content serviceContent-6">
							<p class="lang" key="service-6-content"></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--partner section-->
		<div class="section" id="section3">
			<div class="blank"></div>
			<div class="partnerContainer">
				<div class="partnerLogoContainer">
					<a href="http://www.skec.co.kr/asp/kr/"> <img src="img/c-logo-sk.png"></a>
				</div>
				<div class="partnerLogoContainer"><a href="https://www.lgchem.com/main/index"><img
							src="img/c-logo-lg.png"></a>
				</div>
				<div class="partnerLogoContainer">
					<a href="http://home.kepco.co.kr/kepco/main.do">
						<img src="img/c-logo-kepco.png">
					</a>
				</div>
				<div class="partnerLogoContainer">
					<a href="https://www.hec.co.kr/ko">
						<img src="img/c-logo-hyundai.png">
					</a>
				</div>
				<div class="partnerLogoContainer">
					<a href="http://www.daelim.co.kr/main.do">
						<img src="img/c-logo-daelim.png">
					</a>
				</div>
				<div class="partnerLogoContainer">
					<a href="http://www.samsungcnt.com/eng/index.do">
						<img src="img/c-logo-samsung.png">
					</a>
				</div>
				<div class="partnerLogoContainer">
					<a href="https://www.poscoenc.com:446/eng/">
						<img src="img/c-logo-posco.png">
					</a>
				</div>
				<div class="partnerLogoContainer">
					<a href="https://www.hwenc.co.kr/Hckor/korMain/kormain.jsp">
						<img src="img/c-logo-hanwha.png">
					</a>
				</div>
				<div class="partnerLogoContainer">
					<a href="http://www.daewooenc.com/">
						<img src="img/c-logo-daewoo.png">
					</a>
				</div>
				<div class="partnerLogoContainer">
					<a href="https://www.etecenc.com"><img src="img/c-logo-etec.png"></a>
				</div>
				<div class="partnerLogoContainer"><a href="http://www.kstec21.co.kr/"><img src="img/c-logo-kst.png"></a>
				</div>
				<div class="partnerLogoContainer"><a href="http://www.bseng.co.kr/"><img
							src="img/c-logo-byucksan.png"></a>

				</div>
			</div>
		</div>

		<!--portal section-->
		<div class="section" id="section4">
			<div class="blank"></div>

			<div class="sectionContentContainer-full">
				<div class="container">
					<div>
						<img src="img/password.png" width="130px">
					</div>

					<div class="pwContainer">
						<div>
							<input type="password" class="passwordInput" id="myPW" placeholder="Password" required><br>
						</div>
						<div>
							<input type="submit" onclick="getIDPW();" class="button" value="Login" />
						</div>

					</div>
					<div class="portalIntro">
						<p>회원 및 임직원들을 위한 업무자료 페이지 입니다. <br>
							업무자료 열람을 위한 비밀번호 요청은 <br>아래 연락처로 문의바랍니다.<br>
							<a style="color:black;" href="mailto:wk.park@gmens.co.kr">wk.park@gmens.co.kr</a>(박원규 위원님)
						</p>
					</div>
				</div>
			</div>

			<div class="sectionContentContainer-full dataContainer">
				<div class="dataListContainer">
					<ul>
						<li id="list1" href="#dataID3" style="color: black;">회사 소개</li>
						<li id="list1-1" href="#dataID3" class="sublist">회사 개요</li>
						<li id="list1-2" href="#dataID4" class="sublist">회사 연혁</li>
						<li id="list1-3" href="#dataID5" class="sublist">회사 조직도/보유현황</li>
						<li id="list1-4" href="#dataID6" class="sublist">전체 조직도</li>

						<li id="list2" href="#dataID7">업종</li>
						<li id="list3" href="#dataID8">협력 업체 등록 현황</li>
						<li id="list4" href="#dataID9">설계 및 인허가 수행기준</li>
						<li id="list5" href="#dataID10">용역 수행실적</li>
						<li id="list6" href="#dataID40">프로그램 보유현황</li>

						<li id="list7" href="#dataID41">인증현황</li>
						<li id="list7-1" href="#dataID41" class="sublist">사업자등록증</li>
						<li id="list7-2" href="#dataID42" class="sublist">엔지니어링사업자 신고증</li>
						<li id="list7-3" href="#dataID43" class="sublist">소방 시설업 등록증(소방시설 설계업)</li>
						<li id="list7-4" href="#dataID44" class="sublist">소방 시설업 등록증(소방시설 감리업)</li>
						<li id="list7-5" href="#dataID45" class="sublist">소방 시설업 등록증(소방시설 공사업)</li>
						<li id="list7-6" href="#dataID46" class="sublist">소방 시설 관리업 등록증</li>
						<li id="list7-7" href="#dataID47" class="sublist">소방설계 ISO9001/2008 인정서</li>
						<li id="list7-8" href="#dataID48" class="sublist">Enclosure Integrity Certificate</li>
						<li id="list7-9" href="#dataID49" class="sublist">제연설비 T.A.B 수행자격 인증서</li>
					</ul>
				</div>
				<div class="dataContent" id="dataContent">
				</div>
			</div>


		</div>

		<!--recruit section-->
		<div class="section" id="section5">
			<div class="blank"></div>
			<nav class="sectionMenuContainer">
				<ul>
					<li class="lang" key="menu-6">인재채용</li>
				</ul>
			</nav>
			<div class="sectionContentContainer">
				<div class="recruitIntro">
					<p style="font-size: 16px; color: black;">
						<b>㈜지엠이앤에스</b>는 여러분과 같은 우수한 소방인재를 채용하고 있습니다.
					</p>
					<p style="margin-top: 1vh;">
						우리는 대한민국, 더 나아가 세계의 화재 예방 안전을 위해 소방 설비 설계, 소방 기술, 인허가 업무, 소방 시설 유지관리, 소방 시설 공사, 도어 팬 테스트
						등의 분야에서 최고의 전문가와 기술자들이 함께 협업하여 팀을 이루고 있습니다. 위 분야에서의 끊임없는 발전을 위해, 우리는 항상 새롭고 도전적인 인재들을 채용하는데에
						앞장서고 있습니다. <br>
						채용관련 문의는 다음의 이메일 <a style="color:black;"
							href="mailto:wk.park@gmens.co.kr">wk.park@gmens.co.kr</a>
						(박원규 위원님)으로 문의바랍니다.
					</p>
				</div>
				<div class="recruitNotice">
					<p style="font-size: 16px; color: black;"><b>소방설비 설계 분야</b></p><br>
					<p>&bull; 담당업무: 소방설비 전기분야 / 기계분야 설계</p>
					<p>&bull; 모집인원: 0명</p>
					<p>&bull; 자격요건: 경력</p>
					<br>
					<div style="padding: 10px;">
						<p style="color: black;">지원자격</p>
						<p>&bull; 학력: 대졸 이상(2, 3년)</p>
						<p>&bull; 성별: 무관</p>
						<p>&bull; 연령: 무관</p>
					</div>
					<div style="padding: 10px;">
						<p style="color: black;">근무조건 및 근무환경</p>
						<p>&bull; 근무형태: 정규직</p>
						<p>&bull; 근무요일/시간: 주5일(월-금) 오전 8시 30분-오후 5시 30분</p>
						<p>&bull; 근무지역: 경기 광명시</p>
						<p>&bull; 급여: 면접후 결정</p>
						<p>&bull; 회사주소: (432-050) 경기 광명시 소하동 광명테크노파크 D동 1209호</p>
					</div>
					<div style="padding: 10px;">
						<p style="color: black;">전형절차 및 제출서류</p>
						<p>&bull; 전형절차: 서류전형 2차면접 최종합격</p>
					</div>

					<div style="padding: 10px;">
						<p style="color: black;">기타 유의사항</p>
						<p>&bull; 입사지원 서류에 허위사실이 발견될 경우, 채용확정 이후라도 채용이 취소될 수 있습니다.</p>
					</div>
				</div>
			</div>

		</div>

		<!--request section-->
		<!--전애영 사원 ay.jeon@gmens.co.kr-->
		<div class="section" id="section6">
			<div class="blank"></div>
			<nav class="sectionMenuContainer">
				<ul>
					<li class="lang" key="menu-7"></li>
				</ul>
			</nav>
			<div class="sectionContentContainer">
				<div class="requestIntro">
					<p class=lang key="request-intro"></p>
				</div>
				<div class="requestAgreement">
					<p class="lang" key="requestAgreement-1-title"></p>
					<p class="sublist lang" key="requestAgreement-1-content">
					</p> <br>
					<p class="lang" key="requestAgreement-2-title"></p>
					<p class="sublist lang" key="requestAgreement-2-content"></p><br>
					<p class="lang" key="requestAgreement-3-title"></p>
					<p class="sublist lang" key="requestAgreement-3-content"></p>
				</div>
				<div class="agreeOrNot">
					<p class="lang" key="requestAgreement-yesorno"></p><br>
					<input style="cursor: pointer;" type="radio" name="agreement" value="yes"><label class="lang"
						key="yes"></label>
					<input style="cursor: pointer;" type="radio" name="agreement" value="no" checked><label class="lang"
						key="no"></label>
				</div>
				<div class="requestContainer">
					<form action="/request" method="post" role="form">
						<div class="row-1">
							<label class="lang" key="requestForm-field" for="field"></label><br>
							<select id="field" name="field" required>
								<option disabled selected></option>
								<option class="lang" key="requestForm-field-1" value="점검"></option>
								<option class="lang" key="requestForm-field-2" value="안전관리"></option>
								<option class="lang" key="requestForm-field-3" value="도어팬테스트"></option>
								<option class="lang" key="requestForm-field-4" value="기타"></option>
							</select><br>
						</div>
						<div class="row-2">
							<div class="col-1">
								<label class="lang" key="requestForm-nameOfPlace" for="nameOfPlace"></label><br>
								<input type="text" id="nameOfPlace" name="nameOfPlace" value="" required><br>

								<label class="lang" key="requestForm-addressOfPlace" for="addressOfPlace"></label><br>
								<input type="text" id="addressOfPlace" name="addressOfPlace" value="" required><br>

								<label class="lang" key="requestForm-GFA" for="GFA"></label><br>
								<input type="text" id="GFA" name="GFA" value=""><br>

								<label class="lang" key="requestForm-size" for="size"></label><br>
								<input type="text" id="size" name="size" value=""><br>

								<label class="lang" key="requestForm-usage" for="usage"></label><br>
								<input type="text" id="usage" name="usage" value="">
							</div>
							<div class="col-2">
								<label class="lang" key="requestForm-name" for="nameOfRequester"></label><br>
								<input type="text" id="nameOfRequester" name="nameOfRequester" value="" required><br>

								<label class="lang" key="requestForm-position" for="positionOfRequester"></label><br>
								<input type="text" id="positionOfRequester" name="positionOfRequester" value=""><br>

								<label class="lang" key="requestForm-department"
									for="departmentOfRequester"></label><br>
								<input type="text" id="departmentOfRequester" name="departmentOfRequester" value=""><br>

								<label class="lang" key="requestForm-email" for="emailOfRequester"></label><br>
								<input type="email" id="emailOfRequester" name="emailOfRequester" value="" required><br>

								<label class="lang" key="requestForm-contact" for="phonenumberOfRequester"></label><br>
								<input type="text" id="phonenumberOfRequester" name="phonenumberOfRequester" value=""
									required>
							</div>
						</div>

						<div class="row-3">
							<label class="lang" key="requestForm-content" for="requestContent"> </label><br>
								<textarea id="requestContent" name="requestContent" cols="100" rows="100"
									required></textarea>
						</div>

						<div class="row-4">
							<input type="submit" class="button" value="제출" />
						</div>
					</form>
				</div>
			</div>

			<div class="requestContainerMobile">
				<p>모바일에서는 용역의뢰를 할 수 없습니다.</p>
			</div>
		</div>

		<!--lab section-->
		<div class="section" id="section7">
			<div class="blank"></div>
			<div class="sectionContentContainer-full">
				<ul>
					<li class="not" style="font-weight: 700; color: black;"><b>GM E&S Lab</b></li>
					<li>is</li>
					<li>an online database </li>
					<li>of</li>
					<li>industry news</li>
					<li>on the latest</li>
					<li>fire safety</li>
					<li>technologies</li>
					<li>and</li>
					<li>green engineering</li>
					<li>solutions.</li>
					<li>The latest studies </li>
					<li>and</li>
					<li>product information</li>
					<li>showcased bot</li>
					<li>locally</li>
					<li>and</li>
					<li>worldwide</li>
					<li>are presented,</li>
					<li>and open for </li>
					<li>discussion </li>
					<li>in the forum.</li>
				</ul>
				<script type="text/javascript" src="js/fancy.js"></script>
			</div>
		</div>

		<!--contact section-->
		<div class="section" id="section8">
			<div class="blank"></div>
			<div class="sectionContentContainer-full">
				<div class="mapContainer">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12670.08980401202!2d126.8906134!3d37.4483847!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b61a3f8fa133f%3A0x3d785083de11886a!2zKOyjvCnsp4Dsl6DsnbTslaTsl5DsiqQ!5e0!3m2!1sko!2sde!4v1591101577762!5m2!1sko!2sde"
						frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>

				<div class="contactContainer">
					<p style="color: black; font-size: 16px;" class="lang" key="company"></p>
					<div class="contactContainer-sub">
						<p class="lang" key="address"></p>
					</div>
				</div>
			</div>
		</div>

		<div class="section fp-auto-height footer">
			<p>© 2020 GM Enginnering & Supervision CO.,LTD all rights reserved.</p>
		</div>
	</div>

	<script type="text/javascript" src="js/fullpage.js"></script>
	<script type="text/javascript" src="js/scrolloverflow.js"></script>
	<script type="text/javascript" src="js/functions.js"></script>

	<script type="text/javascript">
		var myFullpage = new fullpage('#fullpage', {
			anchors: ['home', 'aboutus', 'service', 'clients', 'portal', 'recruit', 'request', 'lab', 'contact'],
			sectionsColor: ['white', 'white', 'white', 'white', 'white', 'white', 'white', 'white'],
			afterRender: function () {
				$('#introVideo')[0].play();
			},
			afterLoad: function (anchorLink, index) {
				$('.clickclick').trigger('click');
				if (index.anchor === "home") {
					$(".headerContainer").css("height", "0");
					$(".headerContainer .headerMenu").css("border-bottom", "none");
				} else {
					$(".headerContainer .headerMenu").css("border-bottom", "1px lightgray solid");
					$(".headerContainer").css("height", "80px");
				}
				if (index.anchor === "aboutus") {
					$("#aboutusNav").css("border-bottom", "2px solid black");
					$("#aboutusNav a").css("color", "black");
				} else {
					$("#aboutusNav").css("border-bottom", "none");
					$("#aboutusNav a").css("color", "gray");
				}
				if (index.anchor === "service") {

					$("#serviceNav").css("border-bottom", "2px solid black");
					$("#serviceNav a").css("color", "black");
				} else {
					$("#serviceNav").css("border-bottom", "none");
					$("#serviceNav a").css("color", "gray");
				}
				if (index.anchor === "clients") {
					$("#clientsNav").css("border-bottom", "2px solid black");
					$("#clientsNav a").css("color", "black");
				} else {
					$("#clientsNav").css("border-bottom", "none");
					$("#clientsNav a").css("color", "gray");
				}
				if (index.anchor === "portal") {
					$("#portalNav").css("border-bottom", "2px solid black");
					$("#portalNav a").css("color", "black");
				} else {
					$("#portalNav").css("border-bottom", "none");
					$("#portalNav a").css("color", "gray");
				}
				if (index.anchor === "recruit") {
					$("#recruitNav").css("border-bottom", "2px solid black");
					$("#recruitNav a").css("color", "black");
				} else {
					$("#recruitNav").css("border-bottom", "none");
					$("#recruitNav a").css("color", "gray");
				}
				if (index.anchor === "request") {
					$("#requestNav").css("border-bottom", "2px solid black");
					$("#requestNav a").css("color", "black");
				} else {
					$("#requestNav").css("border-bottom", "none");
					$("#requestNav a").css("color", "gray");
				}
				if (index.anchor === "lab") {
					$("#labNav").css("border-bottom", "2px solid black");
					$("#labNav a").css("color", "black");
				} else {
					$("#labNav").css("border-bottom", "none");
					$("#labNav a").css("color", "gray");
				}
				if (index.anchor === "contact") {
					$("#contactNav").css("border-bottom", "2px solid black");
					$("#contactNav a").css("color", "black");
					$("#section8 .footer").css("height", "50px");
				} else {
					$("#contactNav").css("border-bottom", "none");
					$("#contactNav a").css("color", "gray");
					$("#section8 .footer").css("height", "0");
				}
			},
			onLeave: function (index, nextIndex, direction) {
				var vid = document.getElementById("introVideo");
				if (index.isFirst) {
					vid.pause();
				} else {
					vid.play();
				}
			}//onLeave END
		});
	</script>

	<script>
		$(document).ready(function () {
			if ($(window).width() < 768) {
				window.fp_scrolloverflow.iscrollHandler.iscrollOptions.scrollbars = true;
			}
		});
	</script>

</body>

</html>